In [6]:
count = 2
total = 2

while True:
    print(f'count = {count}, total = {total}')
    count += 2
    total += count
    if count >= 51:
        break

count = 2, total = 2
count = 4, total = 6
count = 6, total = 12
count = 8, total = 20
count = 10, total = 30
count = 12, total = 42
count = 14, total = 56
count = 16, total = 72
count = 18, total = 90
count = 20, total = 110
count = 22, total = 132
count = 24, total = 156
count = 26, total = 182
count = 28, total = 210
count = 30, total = 240
count = 32, total = 272
count = 34, total = 306
count = 36, total = 342
count = 38, total = 380
count = 40, total = 420
count = 42, total = 462
count = 44, total = 506
count = 46, total = 552
count = 48, total = 600
count = 50, total = 650

In [44]:
a = 1
while True:
    print('@'*  a)
    a += 1
    if a >6:
        break

@
@@
@@@
@@@@
@@@@@
@@@@@@

In [2]:
a= 1
while True:
    if a <= 3:
        print('@'*a)
        b=2
    elif a>=4:
        print('@'*(a-b))
        b *= 2
    a += 1   
    if a >=6:
        break

@
@@
@@@
@@
@

In [150]:
a = 2
b = 1
while True:
    if a > -1:
        print(' '*a + '@'*b + ' '*a)
        c = 4
    elif -2 <=a < 0:
        print(' '*(-a) + '@'*(b-c) + ' '*(-a))
        c *= 2
    b += 2
    a -= 1
    if a < -2:
        break

  @
 @@@
@@@@@
 @@@
  @

In [114]:
a = (" " + "@")
a

' @'

In [5]:

a=1

In [6]:
a == 1

True

In [7]:
a ==True

True

In [8]:
a == 0

False

In [9]:
a ==2

False

In [10]:
list[]
index

SyntaxError: invalid syntax (Temp/ipykernel_10036/2166954967.py, line 1)

In [11]:
점연산자는 변수에 영향을 주지만 함수는 변수에 영향을 안줌.

SyntaxError: invalid syntax (Temp/ipykernel_10036/2096815057.py, line 1)

In [15]:
a = 3.14
float(a)
type(a)

float

In [16]:
a = 1
float(a)

1.0

In [17]:
a = 1
a ==1

True

#set는 add로 추가, update, remove

In [19]:
fruit = ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

In [21]:
fruit[2:5]

['3', '4', '5']

In [23]:
fruit[8:]

['9', '10']

In [24]:
fruit[::-1]

['10', '9', '8', '7', '6', '5', '4', '3', '2', '1']

In [33]:
number = '991222-1234567'
number[7]

'1'

In [35]:
number[13]

'7'

In [40]:
sample = '20210101Sunny'
print(sample[:7])
print(sample[8:])

2021010
Sunny

In [42]:
print(data = sample[:7])

TypeError: 'data' is an invalid keyword argument for print()

In [46]:
a = 'Hello, World'
b = 'World to World'
c = 'world to world'
set(a and b and c)

{' ', 'd', 'l', 'o', 'r', 't', 'w'}

In [52]:
a = set(a)
b = set(b)
c = set(c)
a&b&c

{' ', 'd', 'l', 'o', 'r'}

In [54]:
set(a and b and c)

{' ', 'd', 'l', 'o', 'r', 't', 'w'}

In [58]:
a = 'this is a pen'
a.split()

['this', 'is', 'a', 'pen']

In [59]:
a = '10'
b = '20'
a + b

'1020'

In [66]:
a = int(input()) # input()은 문자열로 받기 때문에 원하는 타입으로 변경하자!
if a > 100 or a <0:
    print('Error')
elif a >= 90:
    print('A')
elif a >= 80:
    print('B')
elif a >= 70:
    print('C')
else:
    print('D')

85
B

In [87]:
for i in range(2,51,2):
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [77]:
print('d d d')

d d d

In [84]:
if i % 2 == 0:
    print(i)

50

a = 1
while True:
    if a <= 5:
        print('q')
        a += 1
    else:
        break

In [1]:
a = input()
while True:
    if a == 'MALE' or a== 'FEMALE':
        break
    else:
        print('잘못됨ㅋ')
        break

d
잘못됨ㅋ

# a = 0
b = range(1,51)
while True:
    for i in b:
        if i % 2 == 0:
            a += i
            print(f'number = {i}, sum = {a}')
    break

In [3]:
def ab(a, b):
    result = a + b
    return result
ab(2,3)
ab('ㄱ','ㄴ')

'ㄱㄴ'

In [4]:
a = 1; b = 1
print(a+b)

2

In [6]:
# 리스트안 튜플에서 acd로 변수 두개에 넣으려면 k:5가 아닌 k= 5로 입력해야 나옴.

In [23]:
def capital_letter(letter):
    result = letter.upper()
    return result

In [24]:
capital_letter('dldld')

'DLDLD'

In [46]:
def acd(c, *agrs):
    if c == 'sum':
        a = 0
    elif c == 'mul':
        a = 1
    for i in agrs:
        if c == 'sum':
            a += i
        elif c == 'mul':
            a *= i
        print(f'i = {i}, a = {a}, c = {c}')
    return a
acd('sum', 1, 2, 3, 4, 5)

i = 1, a = 1, c = sum
i = 2, a = 3, c = sum
i = 3, a = 6, c = sum
i = 4, a = 10, c = sum
i = 5, a = 15, c = sum

15

In [52]:
def acd(c, *agrs):
    if c == 'sum':
        a = 0
        for i in agrs:
            a += i
    elif c == 'mul':
        a = 1
        for i in agrs:
            a *= i            
    return a

In [50]:
acd('sum', 1, 2, 3, 4, 5)

15

In [51]:
acd('mul', 1, 2, 3, 4, 5)

120